In [1]:
#加载必要库
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
#读取数据集
df_train=pd.read_csv('train.csv')

print(df_train.shape)

(891, 12)

In [2]:
 #删除并返回数据集中SalePrice标签列(pop用法例子) 
df_train=df_train.drop("PassengerId",axis=1)
total=df_train.isnull().sum().sort_values(ascending=False)  #每列缺失数量
percent=(df_train.isnull().sum()/len(df_train)).sort_values(ascending=False) #每列缺失率
miss_data=pd.concat([total,percent],axis=1,keys=['total','percent'])
print(df_train.shape)
print(miss_data.head(20)) #显示每个列及其对应的缺失率
# print(df_train["Survived"])

(891, 11)
          total   percent
Cabin       687  0.771044
Age         177  0.198653
Embarked      2  0.002245
Fare          0  0.000000
Ticket        0  0.000000
Parch         0  0.000000
SibSp         0  0.000000
Sex           0  0.000000
Name          0  0.000000
Pclass        0  0.000000
Survived      0  0.000000

In [3]:
#去除了percent>0.4的列
print(df_train.shape)
df_train=df_train.drop(miss_data[miss_data['percent']>0.4].index,axis=1)
print(df_train.shape)

(891, 11)
(891, 10)

In [4]:
#均值补齐“Age”列
df_train['Age'].fillna(df_train['Age'].mean(),inplace=True) 
total=df_train.isnull().sum().sort_values(ascending=False)  #每列缺失数量
percent=(df_train.isnull().sum()/len(df_train)).sort_values(ascending=False) #每列缺失率
miss_data=pd.concat([total,percent],axis=1,keys=['total','percent'])
miss_data.head(10) #显示每个列及其对应的缺失率

          total   percent
Embarked      2  0.002245
Fare          0  0.000000
Ticket        0  0.000000
Parch         0  0.000000
SibSp         0  0.000000
Age           0  0.000000
Sex           0  0.000000
Name          0  0.000000
Pclass        0  0.000000
Survived      0  0.000000

In [5]:
# 删除name列
df_train = df_train.drop("Name",axis=1)
print(df_train.shape)

(891, 9)

In [6]:
df_train.dropna(axis=0, how='any', inplace=True)
total=df_train.isnull().sum().sort_values(ascending=False)  #每列缺失数量
percent=(df_train.isnull().sum()/len(df_train)).sort_values(ascending=False) #每列缺失率
miss_data=pd.concat([total,percent],axis=1,keys=['total','percent'])
miss_data.head(10) #显示每个列及其对应的缺失率

          total  percent
Embarked      0      0.0
Fare          0      0.0
Ticket        0      0.0
Parch         0      0.0
SibSp         0      0.0
Age           0      0.0
Sex           0      0.0
Pclass        0      0.0
Survived      0      0.0

In [7]:
print(df_train.shape)
print(df_train["Survived"])

(889, 9)
0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 889, dtype: int64

In [8]:
dummies_sex = pd.get_dummies(df_train['Sex'])
print(dummies_sex.shape)
# ,"Ticket","Embarked"
dummies_Ticket = pd.get_dummies(df_train['Ticket'])
print(dummies_Ticket.shape)

dummies_Embarked = pd.get_dummies(df_train['Embarked'])
print(dummies_Embarked.shape)
# df_with_dummy = df[['data1']].join(dummies)
# print(df_with_dummy)
dummies = pd.concat([dummies_sex,dummies_Ticket,dummies_Embarked,df_train['Age']],axis=1)
print(dummies.shape)

(889, 2)
(889, 680)
(889, 3)
(889, 686)

In [9]:
from sklearn.decomposition import PCA
pca = PCA(n_components=9)
x_train = dummies.values
print(x_train.shape)
new_x_train = pca.fit_transform(x_train)
print(new_x_train.shape)
y_train = df_train['Survived']
print(y_train)

(889, 686)
(889, 9)
0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 889, dtype: int64

In [10]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
new_x_train = std.fit_transform(new_x_train,)
print(new_x_train.shape)

(889, 9)

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(new_x_train,y_train)
print(x_train.shape,y_train.shape)
print(x_test.shape,y_test.shape)

(666, 9) (666,)
(223, 9) (223,)

In [12]:
from sklearn.svm import SVC
svm = SVC()
svm.fit(x_train,y_train)
print(svm.score(x_train,y_train))
print(svm.score(x_test,y_test))

0.812312312312
0.784753363229

In [13]:
print(svm.predict(new_x_train)[:10])
print(y_train[:10])

[0 1 1 1 0 0 0 0 1 1]
338    1
375    1
111    0
452    0
828    1
365    0
318    1
492    0
358    1
102    0
Name: Survived, dtype: int64

In [14]:
df_test=pd.read_csv('test.csv')

In [15]:
df_test=df_test.drop("PassengerId",axis=1)
df_test=df_test.drop("Name",axis=1)
df_test=df_test.drop("Cabin",axis=1)
print(df_test)

     Pclass     Sex   Age  SibSp  Parch              Ticket      Fare Embarked
0         3    male  34.5      0      0              330911    7.8292        Q
1         3  female  47.0      1      0              363272    7.0000        S
2         2    male  62.0      0      0              240276    9.6875        Q
3         3    male  27.0      0      0              315154    8.6625        S
4         3  female  22.0      1      1             3101298   12.2875        S
5         3    male  14.0      0      0                7538    9.2250        S
6         3  female  30.0      0      0              330972    7.6292        Q
7         2    male  26.0      1      1              248738   29.0000        S
8         3  female  18.0      0      0                2657    7.2292        C
9         3    male  21.0      2      0           A/4 48871   24.1500        S
10        3    male   NaN      0      0              349220    7.8958        S
11        1    male  46.0      0      0                 694   26.0000        S
12        1  female  23.0      1      0               21228   82.2667        S
13        2    male  63.0      1      0               24065   26.0000        S
14        1  female  47.0      1      0         W.E.P. 5734   61.1750        S
15        2  female  24.0      1      0       SC/PARIS 2167   27.7208        C
16        2    male  35.0      0      0              233734   12.3500        Q
17        3    male  21.0      0      0                2692    7.2250        C
18        3  female  27.0      1      0    STON/O2. 3101270    7.9250        S
19        3  female  45.0      0      0                2696    7.2250        C
20        1    male  55.0      1      0            PC 17603   59.4000        C
21        3    male   9.0      0      1             C 17368    3.1708        S
22        1  female   NaN      0      0            PC 17598   31.6833        S
23        1    male  21.0      0      1            PC 17597   61.3792        C
24        1  female  48.0      1      3            PC 17608  262.3750        C
25        3    male  50.0      1      0           A/5. 3337   14.5000        S
26        1  female  22.0      0      1              113509   61.9792        C
27        3    male  22.5      0      0                2698    7.2250        C
28        1    male  41.0      0      0              113054   30.5000        S
29        3    male   NaN      2      0                2662   21.6792        C
..      ...     ...   ...    ...    ...                 ...       ...      ...
388       3    male  21.0      0      0              364858    7.7500        Q
389       3    male   6.0      3      1              349909   21.0750        S
390       1    male  23.0      0      0               12749   93.5000        S
391       1  female  51.0      0      1            PC 17592   39.4000        S
392       3    male  13.0      0      2           C.A. 2673   20.2500        S
393       2    male  47.0      0      0          C.A. 30769   10.5000        S
394       3    male  29.0      3      1              315153   22.0250        S
395       1  female  18.0      1      0               13695   60.0000        S
396       3    male  24.0      0      0              371109    7.2500        Q
397       1  female  48.0      1      1               13567   79.2000        C
398       3    male  22.0      0      0              347065    7.7750        S
399       3    male  31.0      0      0               21332    7.7333        Q
400       1  female  30.0      0      0               36928  164.8667        S
401       2    male  38.0      1      0               28664   21.0000        S
402       1  female  22.0      0      1              112378   59.4000        C
403       1    male  17.0      0      0              113059   47.1000        S
404       1    male  43.0      1      0               17765   27.7208        C
405       2    male  20.0      0      0       SC/PARIS 2166   13.8625        C
406       2    male  23.0      1      0               28666   10.5000        S
407       1    male  50.0      1      1              113503  211.5000        C
408       3  female   NaN      0      0              334915    7.7208        Q
409       3  female   3.0      1      1  SOTON/O.Q. 3101315   13.7750        S
410       3  female   NaN      0      0              365237    7.7500        Q
411       1  female  37.0      1      0               19928   90.0000        Q
412       3  female  28.0      0      0              347086    7.7750        S
413       3    male   NaN      0      0           A.5. 3236    8.0500        S
414       1  female  39.0      0      0            PC 17758  108.9000        C
415       3    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500        S
416       3    male   NaN      0      0              359309    8.0500        S
417       3    male   NaN      1      1                2668   22.3583        C

[418 rows x 8 columns]

In [16]:
total=df_test.isnull().sum().sort_values(ascending=False)  #每列缺失数量
percent=(df_test.isnull().sum()/len(df_test)).sort_values(ascending=False) #每列缺失率
miss_data=pd.concat([total,percent],axis=1,keys=['total','percent'])
miss_data.head(10) #显示每个列及其对应的缺失率

          total   percent
Age          86  0.205742
Fare          1  0.002392
Embarked      0  0.000000
Ticket        0  0.000000
Parch         0  0.000000
SibSp         0  0.000000
Sex           0  0.000000
Pclass        0  0.000000

In [17]:
df_test['Age'].fillna(df_test['Age'].mean(),inplace=True)

In [18]:
total=df_test.isnull().sum().sort_values(ascending=False)  #每列缺失数量
percent=(df_test.isnull().sum()/len(df_test)).sort_values(ascending=False) #每列缺失率
miss_data=pd.concat([total,percent],axis=1,keys=['total','percent'])
miss_data.head(10) #显示每个列及其对应的缺失率

          total   percent
Fare          1  0.002392
Embarked      0  0.000000
Ticket        0  0.000000
Parch         0  0.000000
SibSp         0  0.000000
Age           0  0.000000
Sex           0  0.000000
Pclass        0  0.000000

In [19]:
df_test['Fare'].fillna(df_test['Fare'].mean(),inplace=True)

In [20]:
total=df_test.isnull().sum().sort_values(ascending=False)  #每列缺失数量
percent=(df_test.isnull().sum()/len(df_test)).sort_values(ascending=False) #每列缺失率
miss_data=pd.concat([total,percent],axis=1,keys=['total','percent'])
miss_data.head(10) #显示每个列及其对应的缺失率

          total  percent
Embarked      0      0.0
Fare          0      0.0
Ticket        0      0.0
Parch         0      0.0
SibSp         0      0.0
Age           0      0.0
Sex           0      0.0
Pclass        0      0.0

In [21]:
print(df_test)

     Pclass     Sex       Age  SibSp  Parch              Ticket      Fare  \
0         3    male  34.50000      0      0              330911    7.8292
1         3  female  47.00000      1      0              363272    7.0000
2         2    male  62.00000      0      0              240276    9.6875
3         3    male  27.00000      0      0              315154    8.6625
4         3  female  22.00000      1      1             3101298   12.2875
5         3    male  14.00000      0      0                7538    9.2250
6         3  female  30.00000      0      0              330972    7.6292
7         2    male  26.00000      1      1              248738   29.0000
8         3  female  18.00000      0      0                2657    7.2292
9         3    male  21.00000      2      0           A/4 48871   24.1500
10        3    male  30.27259      0      0              349220    7.8958
11        1    male  46.00000      0      0                 694   26.0000
12        1  female  23.00000      1      0               21228   82.2667
13        2    male  63.00000      1      0               24065   26.0000
14        1  female  47.00000      1      0         W.E.P. 5734   61.1750
15        2  female  24.00000      1      0       SC/PARIS 2167   27.7208
16        2    male  35.00000      0      0              233734   12.3500
17        3    male  21.00000      0      0                2692    7.2250
18        3  female  27.00000      1      0    STON/O2. 3101270    7.9250
19        3  female  45.00000      0      0                2696    7.2250
20        1    male  55.00000      1      0            PC 17603   59.4000
21        3    male   9.00000      0      1             C 17368    3.1708
22        1  female  30.27259      0      0            PC 17598   31.6833
23        1    male  21.00000      0      1            PC 17597   61.3792
24        1  female  48.00000      1      3            PC 17608  262.3750
25        3    male  50.00000      1      0           A/5. 3337   14.5000
26        1  female  22.00000      0      1              113509   61.9792
27        3    male  22.50000      0      0                2698    7.2250
28        1    male  41.00000      0      0              113054   30.5000
29        3    male  30.27259      2      0                2662   21.6792
..      ...     ...       ...    ...    ...                 ...       ...
388       3    male  21.00000      0      0              364858    7.7500
389       3    male   6.00000      3      1              349909   21.0750
390       1    male  23.00000      0      0               12749   93.5000
391       1  female  51.00000      0      1            PC 17592   39.4000
392       3    male  13.00000      0      2           C.A. 2673   20.2500
393       2    male  47.00000      0      0          C.A. 30769   10.5000
394       3    male  29.00000      3      1              315153   22.0250
395       1  female  18.00000      1      0               13695   60.0000
396       3    male  24.00000      0      0              371109    7.2500
397       1  female  48.00000      1      1               13567   79.2000
398       3    male  22.00000      0      0              347065    7.7750
399       3    male  31.00000      0      0               21332    7.7333
400       1  female  30.00000      0      0               36928  164.8667
401       2    male  38.00000      1      0               28664   21.0000
402       1  female  22.00000      0      1              112378   59.4000
403       1    male  17.00000      0      0              113059   47.1000
404       1    male  43.00000      1      0               17765   27.7208
405       2    male  20.00000      0      0       SC/PARIS 2166   13.8625
406       2    male  23.00000      1      0               28666   10.5000
407       1    male  50.00000      1      1              113503  211.5000
408       3  female  30.27259      0      0              334915    7.7208
409       3  female   3.00000      1      1  SOTON/O.Q. 3101315   13.7750
410       3  female  30.27259      0      0              365237    7.7500
411       1  female  37.00000      1      0               19928   90.0000
412       3  female  28.00000      0      0              347086    7.7750
413       3    male  30.27259      0      0           A.5. 3236    8.0500
414       1  female  39.00000      0      0            PC 17758  108.9000
415       3    male  38.50000      0      0  SOTON/O.Q. 3101262    7.2500
416       3    male  30.27259      0      0              359309    8.0500
417       3    male  30.27259      1      1                2668   22.3583

    Embarked
0          Q
1          S
2          Q
3          S
4          S
5          S
6          Q
7          S
8          C
9          S
10         S
11         S
12         S
13         S
14         S
15         C
16         Q
17         C
18         S
19         C
20         C
21         S
22         S
23         C
24         C
25         S
26         C
27         C
28         S
29         C
..       ...
388        Q
389        S
390        S
391        S
392        S
393        S
394        S
395        S
396        Q
397        C
398        S
399        Q
400        S
401        S
402        C
403        S
404        C
405        C
406        S
407        C
408        Q
409        S
410        Q
411        Q
412        S
413        S
414        C
415        S
416        S
417        C

[418 rows x 8 columns]

In [22]:
dummies_sex = pd.get_dummies(df_test['Sex'])
print(dummies_sex.shape)
# ,"Ticket","Embarked"
dummies_Ticket = pd.get_dummies(df_test['Ticket'])
print(dummies_Ticket.shape)

dummies_Embarked = pd.get_dummies(df_test['Embarked'])
print(dummies_Embarked.shape)
# df_with_dummy = df[['data1']].join(dummies)
# print(df_with_dummy)
dummies = pd.concat([dummies_sex,dummies_Ticket,dummies_Embarked,df_test['Age']],axis=1)
print(dummies.shape)

(418, 2)
(418, 363)
(418, 3)
(418, 369)

In [23]:
from sklearn.decomposition import PCA
pca = PCA(n_components=9)
x_test = dummies.values
print(x_test.shape)
new_x_test = pca.fit_transform(x_test)
print(new_x_test.shape)

(418, 369)
(418, 9)

In [24]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
new_x_train = std.fit_transform(new_x_test)
print(new_x_test.shape)

(418, 9)

In [25]:
pre = svm.predict(new_x_test)
print(pre)

[0 0 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1 0 0 1
 0 1 0 0 0 0 1 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 1 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 1 1 1 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 1 0 0 1 1 0 1 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 1 1 1 0 0 0 0 0 0 1 0 0 0 1 0
 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 1 1 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 0 0 1
 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0 1 1 1 1 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 1 0 1 0 1 0 0 0 0 0]

In [62]:
df_test=pd.read_csv('test.csv')
result = pd.DataFrame({'PassengerId':df_test['PassengerId'].as_matrix(), 'Survived':pre.astype(np.int32)})

In [63]:
result.to_csv("./logistic_regression_predictions.csv", index=False)